@font-face {
  font-family: 'SF-Black';
  src: url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.eot');
  src: url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.woff2') format('woff2'), url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.woff') format('woff'), url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.ttf') format('truetype'), url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg'), url('../fonts/SFUIDisplay/Black/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Bold';
  src: url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.eot');
  src: url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.woff2') format('woff2'), url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.ttf') format('truetype'), url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg'), url('../fonts/SFUIDisplay/Bold/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Heavy';
  src: url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.eot');
  src: url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.woff2') format('woff2'), url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.woff') format('woff'), url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.ttf') format('truetype'), url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg'), url('../fonts/SFUIDisplay/Heavy/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Light';
  src: url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.eot');
  src: url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.woff2') format('woff2'), url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.woff') format('woff'), url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.ttf') format('truetype'), url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg'), url('../fonts/SFUIDisplay/Light/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Medium';
  src: url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.eot');
  src: url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.woff2') format('woff2'), url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.ttf') format('truetype'), url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg'), url('../fonts/SFUIDisplay/Medium/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Regular';
  src: url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.woff2') format('woff2'), url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.ttf') format('truetype'), url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg'), url('../fonts/SFUIDisplay/Regular/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Semibold';
  src: url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.eot');
  src: url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.woff2') format('woff2'), url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.woff') format('woff'), url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.ttf') format('truetype'), url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg'), url('../fonts/SFUIDisplay/Semibold/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Thin';
  src: url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.eot');
  src: url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.woff2') format('woff2'), url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.woff') format('woff'), url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.ttf') format('truetype'), url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg'), url('../fonts/SFUIDisplay/Thin/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ultralight';
  src: url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.eot');
  src: url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.woff2') format('woff2'), url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.woff') format('woff'), url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.ttf') format('truetype'), url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg'), url('../fonts/SFUIDisplay/Ultralight/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ic/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/ic/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/ic/MaterialIcons-Regular.woff') format('woff'), url('../fonts/ic/MaterialIcons-Regular.ttf') format('truetype');
}
