section {
  position: relative;
}
.header {
  padding: 10px 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding-bottom: 5px;
}
.header-dropdown {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  z-index: 20;
}
.header-dropdown-btn {
  background: inherit;
}
.header-dropdown-btn .material-icons {
  color: #fff;
  font-size: 40px;
}
.header .header-dropdown-menu {
  width: 0;
  border-top: 2px solid #ffc107;
  height: 186px;
  overflow: hidden;
  text-align: left;
  position: fixed;
  top: 110px;
  right: 0;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}
.header .header-dropdown-menu.active {
  width: 100%;
  top: 110px;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}
.header .header-dropdown-menu li {
  display: block;
  font-family: "SF-Regular", sans-serif;
  padding-left: 20px;
  border-bottom: 2px solid #ffc107;
  font-size: 18px;
  line-height: 60px;
}
.header .header-dropdown-menu li a,
.header .header-dropdown-menu li button {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header-dropdown-menu li:hover {
  background: rgba(255, 193, 7, 0.2);
  color: #fff;
}
.header.static {
  position: static;
  background: #fff;
  margin-bottom: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.header.static .header-dropdown {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.header.static .header-dropdown-btn {
  background: inherit;
}
.header.static .header-dropdown-btn .material-icons {
  color: #000;
  font-size: 40px;
}
.header.static .header-logo {
  display: inline-block;
  width: 132px;
  height: 50px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logo-black.png');
}
.header.static .header-menu-item a,
.header.static .header-menu-item button {
  color: #000;
  background: none;
}
.header.scrolled {
  position: fixed;
  background: #fff;
  margin-bottom: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.header.scrolled .header-logo {
  display: inline-block;
  width: 132px;
  height: 50px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logo-black.png');
}
.header.scrolled .header-dropdown {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.header.scrolled .header-dropdown-btn {
  background: inherit;
}
.header.scrolled .header-dropdown-btn .material-icons {
  color: #000;
  font-size: 40px;
}
.header.scrolled .header-menu-item a,
.header.scrolled .header-menu-item button {
  color: #000;
}
.header-logo {
  display: inline-block;
  width: 132px;
  height: 50px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logo.png');
}
.header-tel {
  float: right;
  color: #ffc107;
  padding: 15px 30px;
}
.header-tel:after {
  left: 0;
  top: 12px;
  font-size: 24px;
  line-height: 24px;
}
.header-tel a {
  color: #ffc107;
}
.header-menu {
  float: right;
  margin-left: 20px;
}
.header-menu-item {
  display: inline-block;
  vertical-align: top;
}
.header-menu-item a,
.header-menu-item button {
  border: none;
  color: #fff;
  background: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-family: "SF-Regular", sans-serif;
}
.header-menu-item a:hover,
.header-menu-item button:hover {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.section-first {
  font-family: "SF-Regular", sans-serif;
  position: relative;
  min-height: 768px;
}
.next-section {
  position: absolute;
  color: #fff;
  font-size: 16px;
  text-align: center;
  bottom: 55px;
  left: 50%;
  margin-left: -77.5px;
}
.next-section::after {
  content: "";
  display: block;
  width: 18px;
  height: 12px;
  top: 30px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  background: url("../img/bg-yel.png") no-repeat center;
}
.next-section:hover {
  color: #fff;
}
.next-section:visited {
  color: #fff;
}
.next-section.inverse {
  color: #000;
}
.next-section.inverse:hover {
  color: #000;
}
.next-section.inverse:visited {
  color: #000;
}
.info-block {
  margin-top: 160px;
  color: #fff;
}
.info-block-text-main {
  font-size: 72px;
  font-family: "SF-Semibold", sans-serif;
}
.info-block-text-main.half {
  font-size: 48px;
}
.info-block-text-additional {
  font-family: "SF-Medium", sans-serif;
  font-size: 25px;
  margin-top: 60px;
  line-height: 1.5em;
}
.info-block-form {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 35px 15px;
}
.info-block-form__title {
  font-family: "SF-Medium", sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
}
.info-block-form-item {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 25px;
}
.info-block-form-item__checkbox {
  width: 1px;
  height: 1px;
}
.info-block-form-item__checkbox::before {
  content: "";
  background: rgba(0, 0, 0, 0.2), url("../img/checked.png") no-repeat center center;
  background-size: cover;
  display: inline-block;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 10px;
  opacity: 1;
  left: 18px;
  z-index: 2;
}
.info-block-form-item__checkbox:checked::before {
  background: rgba(0, 0, 0, 0.2), url("../img/unchecked.png") no-repeat center center;
  background-size: cover;
  display: inline-block;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 10px;
  opacity: 1;
  left: 18px;
  z-index: 2;
}
.info-block-form-item.range {
  background: #fff;
  padding-top: 15px;
}
.info-block-form-item.textarea {
  height: 150px;
}
.info-block-form-item.textarea textarea.ui_input {
  padding: 20px;
  font-size: 17px;
  line-height: 1.2em;
}
.info-block-form-item__range {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  background: #fff;
}
.info-block-form-item__range_value {
  position: absolute;
  top: 67px;
  left: 47%;
  color: #ffc107;
  font-size: 20px;
}
.info-block-form-item__info {
  width: 100%;
  border: none;
}
.info-block-form-item__btn {
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 70px;
  font-size: 26px;
  color: #000;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
.info-block-form-item__btn.disabled {
  background: #eaeaea;
}
.info-block-form-item__btn_minus {
  left: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
.info-block-form-item__btn_plus {
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
}
.info-block-form-item__btn_tel {
  left: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
.dark {
  margin-top: 30px;
  margin-bottom: 30px;
}
.dark .info-block-form {
  background: rgba(0, 0, 0, 0.3);
}
.small-margin {
  margin-top: 15px;
  margin-bottom: 0px;
}
.small-margin:last-child {
  margin-bottom: 60px;
}
.section-second {
  padding: 40px 0;
  text-align: center;
}
.section-second .benefits-list-item__image {
  font-size: 70px;
  color: #ffc107;
  margin-bottom: 40px;
}
.section-second .benefits-list-item__title {
  font-size: 23px;
  color: #727272;
  margin-bottom: 20px;
}
.section-second .benefits-list-item__description {
  font-size: 17px;
  line-height: 1.5;
}
.section-third {
  min-height: 496px;
}
.section-third__title {
  font-size: 36px;
  color: #fff;
  font-family: "SF-Medium", sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
}
.section-third-item {
  margin-bottom: 20px;
  color: #fff;
}
.section-third-item__title {
  font-size: 19px;
  font-family: "SF-Medium", sans-serif;
}
.section-third-item__description {
  font-size: 14px;
  margin-top: 15px;
  font-family: "SF-Light", sans-serif;
}
.section-third__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.section-fourth-item {
  text-align: center;
}
.section-fourth-item__icon {
  font-size: 70px;
  color: #ffc107;
  margin-bottom: 30px;
  margin-top: 10px;
}
.section-fourth-item__title {
  font-size: 23px;
  font-family: "SF-Medium", sans-serif;
  color: #727272;
  margin-bottom: 30px;
}
.section-fourth-item__description {
  font-size: 17px;
  font-family: "SF-Light", sans-serif;
  color: #212121;
  line-height: 1.2em;
}
.section-fourth_btn {
  width: 100%;
  display: block;
  margin: 30px 0;
}
.section-fifth {
  padding: 30px 0;
  color: #fff;
  text-align: center;
}
.section-fifth__title {
  font-size: 36px;
  font-family: "SF-Medium", sans-serif;
  margin-bottom: 60px;
}
.section-fifth-item {
  margin-bottom: 60px;
}
.section-fifth-item__number {
  font-family: "SF-Thin", sans-serif;
  font-size: 72px;
  margin-bottom: 20px;
}
.section-fifth-item__description {
  font-family: "SF-Medium", sans-serif;
  line-height: 1.2em;
  font-size: 17px;
}
.section-fifth_btn {
  width: 80%;
  color: #212121;
  display: block;
  margin: 0 auto;
}
.section-sixth {
  padding-bottom: 30px;
}
.section-sixth .row:not(:last-child) {
  margin-bottom: 30px;
}
.section-sixth-item__img {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
}
.section-sixth-item-content {
  font-size: 17px;
  color: #212121;
  font-family: "SF-Light", sans-serif;
  line-height: 1.2em;
}
.section-sixth-item-content__description {
  margin-bottom: 30px;
}
.section-sixth-item-content__author {
  font-family: "SF-Medium", sans-serif;
}
.section-sixth-item-content__company {
  color: #727272;
}
.section-sixth .tac {
  text-align: center;
}
.section-sixth_btn {
  width: 80%;
  color: #212121;
}
.section-seventh {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
}
.section-seventh__title {
  font-family: "SF-Medium", sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}
.section-seventh__description {
  font-size: 23px;
  margin-bottom: 30px;
}
.blog {
  background: #f5f5f5;
}
.blog-item-content.col-md-4 {
  margin-left: -15px;
}
.blog-item-content {
  background: #fff;
  padding: 30px 0 30px 30px;
  line-height: 1.2em;
}
.blog-item-content__title {
  font-size: 23px;
  font-family: "SF-Semibold", sans-serif;
  line-height: 1.2em;
}
.blog-item-content__excerpt {
  font-size: 23px;
  line-height: 1.2em;
  font-family: "SF-Light", sans-serif;
  margin-bottom: 8px;
}
.blog-item:hover .blog-item-content__title,
.blog-item:hover .blog-item-content__excerpt {
  color: #ffc107;
}
.faq {
  background: #fff;
}
.faq-list__title {
  font-size: 23px;
  font-family: "SF-Medium", sans-serif;
  margin-bottom: 30px;
  color: #727272;
}
.faq-list-section {
  margin-bottom: 30px;
}
.faq-list-section-item {
  cursor: pointer;
}
.faq-list-section-item__question {
  height: 40px;
  position: relative;
  line-height: 40px;
  background: #f5f5f5;
  font-family: "SF-Semibold", sans-serif;
  font-size: 17px;
  padding-left: 15px;
  border-bottom: 1px solid #dddddd;
}
.faq-list-section-item__question::after {
  content: "";
  font-family: "Material Icons";
  width: 8px;
  height: 13px;
  background: url("../img/right.png") no-repeat center;
  top: 15px;
  right: 10px;
  position: absolute;
}
.faq-list-section-item__question.active {
  background: #ffc107;
  color: #fff;
}
.faq-list-section-item__question.active::after {
  content: "";
  font-family: "Material Icons";
  width: 13px;
  height: 8px;
  background: url("../img/down.png") no-repeat center;
  top: 15px;
  right: 10px;
  position: absolute;
}
.faq-list-section-item__answer {
  display: none;
  margin: 20px;
}
.dashboard {
  background: #f4f4f4;
}
.dashboard-content {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}
.dashboard-content__image {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 30px;
}
.dashboard-content__option {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 20px;
}
.dashboard-content__value {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 20px;
}
.dashboard-content__btn {
  width: 80%;
  display: block;
  margin: 0 auto 20px;
}
.dashboard-address {
  padding: 30px 70px;
  background: #fff;
  margin-bottom: 30px;
  position: relative;
}
.dashboard-address__btn {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 0px 10px;
  height: 20px;
  display: block;
  z-index: 30;
}
.dashboard-address__title {
  font-size: 23px;
  font-family: "SF-Regular", sans-serif;
  margin-bottom: 20px;
}
.dashboard-address .done {
  color: green;
}
.dashboard-address .not-done {
  color: red;
}
.dashboard-address .cancel {
  color: #727272;
}
.dashboard-address-item {
  border-bottom: 1px solid #dddddd;
  min-height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-family: "SF-Regular", sans-serif;
  color: #212121;
}
.dashboard-address-item_main {
  background: rgba(0, 128, 0, 0.5);
}
.dashboard-address-item_additional {
  background: rgba(255, 193, 7, 0.5);
}
.dashboard-address-item div {
  white-space: nowrap;
  overflow: hidden;
  padding-right: 2px;
  text-overflow: ellipsis;
}
.dashboard-address-item.dashboard-address__head {
  color: #727272;
  margin-top: 30px;
}
.dashboard-pagination {
  text-align: center;
  margin-top: 20px;
}
.dashboard-pagination__item {
  display: inline-block;
  vertical-align: top;
  background: #f1f1f1;
  font-size: 17px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.dashboard-pagination__item.navigation,
.dashboard-pagination__item.active {
  background: #ffc107;
}
.tabs-control {
  text-align: center;
  margin-bottom: 30px;
  border: 2px solid #ffc107;
  border-radius: 6px;
  padding: 0;
}
.tabs-control__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-family: "SF-Regular", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.tabs-control__item.primary {
  background: rgba(255, 193, 7, 0.5);
}
.tabs-list__item {
  display: none;
}
.tabs-list__item.active {
  display: block;
}
.modal-layout {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 6;
}
.modal-layout__close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.modal-layout .modal-window {
  margin: auto;
  width: 480px;
  position: relative;
  z-index: 10;
}
.modal-layout .modal-window .info-block {
  margin-top: 160px;
  color: #fff;
}
.modal-layout .modal-window .info-block-form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 15px;
}
.modal-layout .modal-window .info-block-form-item:last-child {
  margin-bottom: 0;
}
.modal-layout .modal-window .tabs-control {
  width: 100%;
  border: 2px solid #fff;
}
.modal-layout .modal-window .tabs-control__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-family: "SF-Regular", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.modal-layout .modal-window .tabs-control__item.primary {
  background: rgba(255, 255, 255, 0.5);
}
.modal-layout .modal-window .modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
.main-footer {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.main-footer__title {
  font-family: "SF-Medium", sans-serif;
  font-size: 23px;
  margin-bottom: 30px;
}
.main-footer-list {
  line-height: 1.5em;
  font-size: 17px;
  font-family: "SF-Light", sans-serif;
}
.main-footer-contacts {
  margin-bottom: 30px;
}
.main-footer-contacts__item {
  position: relative;
  padding-left: 34px;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: "SF-Light", sans-serif;
}
.main-footer-contacts__item:after {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-ic);
  font-size: 17px;
  line-height: 17px;
  color: #ffc107;
}
.main-footer-social-item {
  display: inline-block;
  vertical-align: top;
  width: 52px;
  height: 52px;
  background: url('../img/spritesheet.png') no-repeat;
}
.main-footer-social-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.main-footer-social-item.is {
  background-position: -52px 0;
}
.main-footer-social-item.tl {
  background-position: -104px 0;
}
.main-footer-social-item.vk {
  background-position: -156px 0;
}
.main-footer-copyright {
  margin-top: 33px;
}
.about {
  display: flex;
  height: 100vh;
}
.about__text {
  margin: auto;
  color: #fff;
  font-size: 25px;
  font-family: "SF-Medium", sans-serif;
  line-height: 1.2em;
}
.contacts-item .material-icons {
  font-size: 40px;
  color: #ffc107;
  display: inline-block;
  vertical-align: middle;
}
.contacts-item__text {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
  margin-left: 20px;
  font-family: "SF-Regular", sans-serif;
  font-size: 23px;
}
.map {
  position: relative;
  height: 450px;
  padding: 0 !important;
}
.sitemap-list .sitemap-list__title {
  text-align: left;
  margin-bottom: 30px;
}
.sitemap-list-section {
  margin-bottom: 30px;
  line-height: 1.2em;
}
.copyright__text {
  padding: 30px 0px 30px;
  border-top: 3px solid #f1f1f1;
}
.article h1 {
  font-family: "SF-Regular", sans-serif;
  font-size: 21px;
  line-height: 80px;
  height: 80px;
  text-align: center;
  font-weight: normal;
}
.article h2 {
  font-family: "SF-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: normal;
}
.article h3 {
  font-family: "SF-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}
.article p {
  font-family: "SF-Light", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}
.article img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 20px;
  float: left;
}
.article table {
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-family: "SF-Regular", sans-serif;
  min-width: 1120px;
}
.article table tr td {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  color: #212121;
  padding: 0 15px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
  overflow: hidden;
}
.article table tr td > div {
  display: flex;
  height: 100%;
}
.article table tr td span {
  margin: auto;
  line-height: 1.6em;
  position: relative;
}
.footer-min > .section-seventh {
  display: none;
}
.col-xs-12 {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .modal-layout .modal-window {
    width: 90%;
  }
  .col-xs-10 {
    margin-bottom: 20px;
  }
  .header-tel {
    float: none;
    color: #ffc107;
    padding: 15px 30px;
  }
  .header-tel:after {
    left: 0;
    top: 12px;
    font-size: 24px;
    line-height: 24px;
  }
  .header-tel a {
    color: #ffc107;
  }
  .swiper-container {
    margin-bottom: 30px;
  }
  .swiper-container .swiper-slide {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    height: auto !important;
    width: 280px !important;
    box-sizing: border-box;
    background: #fff;
    border-radius: 6px;
    padding: 30px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .swiper-container .section-sixth-item__img {
    margin: 20px auto;
  }
  .swiper-container .blog-item__img {
    text-align: center;
  }
  .section-fifth .swiper-slide {
    background: rgba(0, 0, 0, 0.5);
  }
  .info-block-text-main {
    font-size: 48px;
  }
  .info-block-form-item__btn {
    width: 60px;
  }
}
#order_map {
  position: relative;
  width: 100%;
  min-height: 595px;
}
