@import "vars";
section {
  position: relative;
}

.header {
  padding: 10px 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding-bottom: 5px;
  &-dropdown {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
    z-index: 20;

    &-btn {
      background: inherit;
      & .material-icons {
        color: #fff;
        font-size: 40px;
      }
    }
  }

  & .header-dropdown-menu {
    width: 0;
    border-top: 2px solid @main-color ;
    height: 186px;
    overflow: hidden;

    text-align: left;
    position: fixed;
    top: 110px;
    right: 0;
    background: #fff;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
    &.active {
      width: 100%;
      top: 110px;
      right: 0;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      -webkit-transition: all 700ms ease-in-out;
      -moz-transition: all 700ms ease-in-out;
      transition: all 700ms ease-in-out;
    }

    & li {
      display: block;
      font-family: @ff-Regular;
      padding-left: 20px;
      border-bottom: 2px solid @main-color;
      font-size: 18px;
      line-height: 60px;
      & a, & button {

        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background: fade(@main-color, 20%);
        color: #fff;
      }

    }
  }
  &.static {
    position: static;
    background: #fff;
    margin-bottom: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    & .header-dropdown {
      float: right;
      margin-top: 5px;
      margin-right: 10px;

      &-btn {
        background: inherit;

        & .material-icons {
          color: #000;
          font-size: 40px;

        }

      }
    }
    & .header-logo {
      display: inline-block;
      width: 132px;
      height: 50px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/logo-black.png');

    }
    & .header-menu {
      &-item {
        & a, & button {
          color: #000;
          background: none;
        }
      }
    }
  }
  &.scrolled {
    position: fixed;
    background: #fff;
    margin-bottom: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    & .header-logo {
      display: inline-block;
      width: 132px;
      height: 50px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/logo-black.png');

    }
    & .header-dropdown {
      float: right;
      margin-top: 5px;
      margin-right: 10px;

      &-btn {
        background: inherit;

        & .material-icons {
          color: #000;
          font-size: 40px;
        }
      }
    }

    & .header-menu {
      &-item {
        & a, & button {
          color: #000;
        }
      }
    }

  }

  &-logo {
    display: inline-block;
    width: 132px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/logo.png');

  }
  &-tel {
    float: right;

    color: @main-color;
    padding: 15px 30px;
    &:after {

      left: 0;
      top: 12px;
      font-size: 24px;
      line-height: 24px;
    }
    & a {
      color: @main-color;
    }
  }
  &-menu {
    float: right;
    margin-left: 20px;
    &-item {
      display: inline-block;
      vertical-align: top;



      & a, & button{
        border: none;
        color: #fff;
        background: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 15px 30px;
        font-family: @ff-Regular;
        &:hover {
          border-radius: 20px;
          background: fade(#fff, 20%);
        }
      }
    }
  }
}

.section-first {
  font-family: @ff-Regular;
  position: relative;

  min-height: 768px;



}
.next-section {
  position: absolute;
  color: #fff;
  font-size: 16px;
  text-align: center;
  bottom: 55px;
  left: 50%;
  margin-left: -77.5px;
  &::after {
    content: "";
    display: block;
    width: 18px;
    height: 12px;
    top: 30px;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    background: url("../img/bg-yel.png") no-repeat center;

  }
  &:hover {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
  &.inverse {
    color: #000;
    &:hover {
      color: #000;
    }
    &:visited {
      color: #000;
    }
  }
}
.info-block {
  margin-top: 160px;
  color: #fff;
  &-text {
    &-main {
      font-size: 72px;
      font-family: @ff-Semibold;
      &.half {
        font-size: 48px;
      }

    }
    &-additional {
      font-family: @ff-Medium;
      font-size: 25px;
      margin-top: 60px;
      line-height: 1.5em;
    }
  }
  &-form {
    text-align: center;
    background: fade(#fff, 30%);
    border-radius: 20px;
    padding: 35px 15px;
    &__title {
      font-family: @ff-Medium;
      font-size: 25px;
      margin-bottom: 30px;
    }
    &-item {
      width: 100%;
      height: 50px;
      position: relative;
      margin-bottom: 20px;
      border-radius: 25px;
      &__checkbox {
        width: 1px;
        height: 1px;
      }

      &__checkbox::before {
        content: "";
        background: fade(#000, 20%), url("../img/checked.png") no-repeat center center;
        background-size: cover;
        display: inline-block;
        height: 36px;
        width: 36px;
        position: absolute;
        top: 10px;
        opacity: 1;
        left: 18px;
        z-index: 2;
      }
      &__checkbox:checked::before {
        background: fade(#000, 20%),  url("../img/unchecked.png") no-repeat center center;
        background-size: cover;
        display: inline-block;
        height: 36px;
        width: 36px;
        position: absolute;
        top: 10px;
        opacity: 1;
        left: 18px;
        z-index: 2;
      }
      &.range {
        background: #fff;
        padding-top: 15px;
      }
      &.textarea {
        height: 150px;
        & textarea.ui_input {
          padding: 20px;
          font-size: 17px;
          line-height: 1.2em;
        }

      }
      &__range {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        background: #fff;
        &_value {
          position: absolute;
          top: 67px;

          left: 47%;
          color: @main-color;
          font-size: 20px;
        }
      }
      &__info {
        width: 100%;
        border: none;
      }

      &__btn {
        position: absolute;
        top: 0;
        height: 50px;
        line-height: 50px;
        width: 70px;
        font-size: 26px;
        color: #000;
        border: none;
        background: fade(#000, 20%);
        &.disabled {
          background: darken(#f7f7f7, 5%);
        }

        &_minus {
          left: 0;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          border: none;
        }
        &_plus {
          right: 0;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          border: none;
        }
        &_tel {
          left: 0;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          border: none;
        }
      }
    }
  }
}
&.dark {
   margin-top: 30px;
   margin-bottom: 30px;
   & .info-block-form {
     background: fade(#000, 30%);
   }
 }
&.small-margin {
  margin-top: 15px;
  margin-bottom: 0px;
  &:last-child {
    margin-bottom: 60px;
  }

}

.section-second {
  padding: 40px 0;
  text-align: center;
  & .benefits-list {
    &-item {
      &__image {
        font-size: 70px;
        color: @main-color;
        margin-bottom: 40px;
      }
      &__title {
        font-size: 23px;
        color: #727272;
        margin-bottom: 20px;
      }
      &__description {
        font-size: 17px;
        line-height: 1.5;
      }

    }
  }
}

.section-third {
  min-height: 496px;
  //background: url("../img/section-3.jpg") no-repeat center;
  //-webkit-background-size: cover;
  //background-size: cover;
  &__title {
    font-size: 36px;
    color: #fff;
    font-family: @ff-Medium;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  &-item {
    margin-bottom: 20px;
    color: #fff;
    &__title {
      font-size: 19px;
      font-family: @ff-Medium;
    }
    &__description {
      font-size: 14px;
      margin-top: 15px;
      font-family: @ff-Light;
    }
  }
  &__btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.section-fourth {
  &-item {
    text-align: center;
    &__icon {
      font-size: 70px;
      color: @main-color;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    &__title {
      font-size: 23px;
      font-family: @ff-Medium;
      color: #727272;
      margin-bottom: 30px;

    }
    &__description {
      font-size: 17px;
      font-family: @ff-Light;
      color: #212121;
      line-height: 1.2em;
    }
  }
  &_btn {
    width: 100%;
    display: block;
    margin: 30px 0;
  }
}

.section-fifth  {
  padding: 30px 0;
  color: #fff;
  text-align: center;
  &__title {
    font-size: 36px;
    font-family: @ff-Medium;
    margin-bottom: 60px;
  }
  &-item {
    margin-bottom: 60px;
    &__number {
      font-family: @ff-Thin;
      font-size: 72px;
      margin-bottom: 20px;
    }
    &__description {
      font-family: @ff-Medium;
      line-height: 1.2em;
      font-size: 17px;
    }

  }
  &_btn {
    width: 80%;
    color: @text-color;
    display: block;
    margin: 0 auto;
  }

}

.section-sixth {
  padding-bottom: 30px;

  & .row:not(:last-child) {
    margin-bottom: 30px;
  }



  &-item {
    &__img {
      width: 160px;
      height: 160px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 50%;
    }

    &-content {
      font-size: 17px;
      color: @text-color;
      font-family: @ff-Light;
      line-height: 1.2em;
      &__description {

        margin-bottom: 30px;
      }
      &__author {
        font-family: @ff-Medium;
      }
      &__company {
        color: @title-color;
      }

    }

  }
  .tac {
    text-align: center;
  }
  &_btn {
    width: 80%;
    color: @text-color;
  }

}

.section-seventh {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;

  &__title {
    font-family: @ff-Medium;
    font-size: 36px;
    margin-bottom: 30px;
  }
  &__description {
    font-size: 23px;
    margin-bottom: 30px;
  }
}

.blog {
  background: #f5f5f5;
  &-item {

    &__img {

    }
    &-content.col-md-4 {
      margin-left: -15px;
    }

    &-content {
      background: #fff;
      padding: 30px 0 30px 30px;
      line-height: 1.2em;

      &__title {
        font-size: 23px;
        font-family: @ff-Semibold;
        line-height: 1.2em;
      }
      &__excerpt {
        font-size: 23px;
        line-height: 1.2em;
        font-family: @ff-Light;
        margin-bottom: 8px;
      }



    }

  }
  &-item:hover .blog-item-content__title, &-item:hover .blog-item-content__excerpt {
    color: @main-color;
  }


}

.faq {
  background: #fff;;
  &-list {
    &__title {
      font-size: 23px;
      font-family: @ff-Medium;
      margin-bottom: 30px;
      color: @title-color;

    }
    &-section {
      margin-bottom: 30px;
      &-item {
        cursor: pointer;
        &__question {
          height: 40px;
          position: relative;
          line-height: 40px;
          background: #f5f5f5;
          font-family: @ff-Semibold;
          font-size: 17px;
          padding-left: 15px;
          border-bottom: 1px solid #dddddd;
          &::after {
            content: "";
            font-family: @ff-ic;
            width: 8px;
            height: 13px;
            background: url("../img/right.png") no-repeat center;
            top: 15px;
            right: 10px;
            position: absolute;

          }
          &.active {
            background: @main-color;
            color: #fff;
            &::after {
              content: "";
              font-family: @ff-ic;
              width: 13px;
              height: 8px;
              background: url("../img/down.png") no-repeat center;
              top: 15px;
              right: 10px;
              position: absolute;

            }
          }
        }
        &__answer {
          display: none;
          margin: 20px;
        }
      }
      &-item:hover .faq-list-section-item__question {

      }
    }
  }
}

.dashboard {
  background: #f4f4f4;

  &-content {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    &__image {
      width: 160px;
      height: 160px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 50%;
      margin-bottom: 30px;

    }
    &__option {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin-bottom: 20px;
    }
    &__value {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin-bottom: 20px;
    }
    &__btn {
      width: 80%;
      display: block;
      margin: 0 auto 20px;
    }
  }
  &-address {
    padding: 30px 70px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    &__btn {
      position: absolute;
      top: 20px;
      right: 40px;
      padding: 0px 10px;
      height: 20px;
      display: block;
      z-index: 30;

    }
    &__title {
      font-size: 23px;
      font-family: @ff-Regular;
      margin-bottom: 20px;
    }
    & .done {
      color: green;
    }
    & .not-done {
      color: red;
    }
    & .cancel {
      color: @title-color;
    }
    &-item {
      border-bottom: 1px solid #dddddd;
      min-height: 50px;
      line-height: 50px;
      font-size: 17px;
      font-family: @ff-Regular;
      color: @text-color;
      &_main {
        background: fade(green, 50%);
      }
      &_additional {
        background: fade(@main-color, 50%);
      }
      & div {
        white-space: nowrap;
        overflow: hidden;
        padding-right: 2px;
        text-overflow: ellipsis;
      }
      &.dashboard-address__head {
        color: #727272;
        margin-top: 30px;
      }
    }

  }
  &-pagination {
    text-align: center;
    margin-top: 20px;
    &__item {
      display: inline-block;
      vertical-align: top;
      background: #f1f1f1;
      font-size: 17px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      cursor: pointer;
      &.navigation, &.active {
        background: @main-color;

      }
    }
  }


}
.tabs-control {
  text-align: center;
  margin-bottom: 30px;
  border: 2px solid @main-color;
  border-radius: 6px;
  padding: 0;
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-family: @ff-Regular;
    font-size: 20px;
    cursor: pointer;
    &.primary {
      background: fade(@main-color, 50%);
    }


  }
}


.tabs-list__item {
  display: none;
  &.active {
    display: block;
  }
}

.modal-layout {
  width: 100%;
  height: 100%;
  background: fade(#000, 80%);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 6;
  &__close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  & .modal-window {
    margin: auto;
    width: 480px;
    position: relative;
    z-index: 10;
    & .info-block {
      margin-top: 160px;
      color: #fff;

      &-form {
        background: fade(#fff, 50%);
        border-radius: 20px;
        padding: 15px;
        &-item {

        }
        &-item:last-child {
          margin-bottom: 0;

        }
      }

    }
    & .tabs-control {
      width: 100%;
      border: 2px solid #fff;
      &__item {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 40px;
        line-height: 40px;
        font-family: @ff-Regular;
        font-size: 20px;
        cursor: pointer;
        background: fade(#fff, 10%);

        &.primary {
          background: fade(#fff, 50%);
        }


      }
    }

    & .modal-close {
      position: absolute;
      top: -15px;
      right: -15px;
      color: #fff;
      font-size: 23px;
      cursor: pointer;
    }
  }
}

.main-footer {
  background: fade(#000, 70%);
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  &__title {
    font-family: @ff-Medium;
    font-size: 23px;
    margin-bottom: 30px;
  }
  &-list {
    line-height: 1.5em;
    font-size: 17px;
    font-family: @ff-Light;
  }
  &-contacts {
    margin-bottom: 30px;
    &__item {
      position: relative;
      padding-left: 34px;
      margin-bottom: 20px;
      font-size: 17px;
      font-family: @ff-Light;
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: attr(data-ic);
        font-size: 17px;
        line-height: 17px;
        color: @main-color;
      }
    }
  }
  &-social {
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 52px;
      height: 52px;
      background: url('../img/spritesheet.png') no-repeat;
      & a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.is {
        background-position: -52px 0;
      }
      &.tl {
        background-position: -104px 0;
      }
      &.vk {
        background-position: -156px 0;
      }

    }
  }
  &-copyright {
    margin-top: 33px;
  }
}
.about {
  display: flex;
  height: 100vh;
  &__text {
    margin: auto;
    color: #fff;
    font-size: 25px;
    font-family: @ff-Medium;
    line-height: 1.2em;
  }
}
.contacts {
  &-item {
    & .material-icons {
      font-size: 40px;
      color: @main-color;
      display: inline-block;
      vertical-align: middle;
    }
    &__text {
      display: inline-block;
      max-width: 80%;
      vertical-align: middle;;
      margin-left: 20px;
      font-family: @ff-Regular;
      font-size: 23px;
    }

  }
}
.map {
  position: relative;
  height: 450px;
  padding: 0 !important;
}
.sitemap {
  &-list {
    & &__title {
      text-align: left;
      margin-bottom: 30px;
    }
    &-section {
      margin-bottom: 30px;
      line-height: 1.2em;
    }
  }

}
.copyright {

  &__text {
    padding: 30px 0px 30px;
    border-top: 3px solid #f1f1f1;
  }
}
.article {

  & h1 {
    font-family: @ff-Regular;
    font-size: 21px;
    line-height: 80px;
    height: 80px;
    text-align: center;
    font-weight: normal;
  }

  & h2 {
    font-family: @ff-Regular;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: normal;
  }

  & h3 {
    font-family: @ff-Medium;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }

  & p {
    font-family: @ff-Light;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }
  & img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 20px;
    float: left;
  }

  & table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-family: @ff-Regular;
    min-width: 1120px;

    & tr {

      & td {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: center;
        color: @text-color;
        padding: 0 15px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        height: 50px;
        overflow: hidden;

        & > div {
          display: flex;
          height: 100%;
        }
        & span {
          margin: auto;
          line-height: 1.6em;
          position: relative;

        }

      }

    }
  }


}
.footer-min > .section-seventh {
  display: none;
}
.col-xs-12 {
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .modal-layout {
    & .modal-window {
      width: 90%;
    }
  }

  .col-xs-10 {
    margin-bottom: 20px;
  }

  .header {
    &-tel {
      float: none;

      color: @main-color;
      padding: 15px 30px;
      &:after {

        left: 0;
        top: 12px;
        font-size: 24px;
        line-height: 24px;
      }
      & a {
        color: @main-color;
      }
    }
  }

  .swiper-container {
    margin-bottom: 30px;
    .swiper-slide {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
      height: auto !important;
      width: 280px !important;
      box-sizing: border-box;
      background: #fff;
      border-radius: 6px;
      padding: 30px 16px;
      margin-top: 10px;
      margin-bottom: 10px;

    }

    & .section-sixth-item__img {
      margin: 20px auto;
    }
    & .blog-item__img {
      text-align: center;

    }
  }

  .section-fifth {
    .swiper-slide {

      background: fade(#000, 50%);

    }
  }

  .info-block-text-main {
    font-size: 48px;
  }

  .info-block-form-item__btn {
    width: 60px;
  }
}

#order_map {
  position: relative;
  width: 100%;
  min-height: 595px;

}