.ui_h1 {
  font-size: 36px;
  line-height: 96px;
  text-align: center;
}
.ui_h1.white {
  color: #fff;
}
.ui_h2 {
  font-size: 23px;
  line-height: 50px;
  font-family: "SF-Medium", sans-serif;
  color: #212121;
}
.ui_h2.without-lh {
  line-height: 1em;
  margin-bottom: 28px;
}
.ui_p {
  font-family: "SF-Light", sans-serif;
  font-size: 17px;
  margin-bottom: 30px;
}
.ui_btn {
  background: #ffc107;
  font-family: "SF-Medium", sans-serif;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: none;
}
.ui_btn:hover {
  border: 1px solid #ffc107;
  background: #fff;
  color: #ffc107;
}
.ui_btn_inverse {
  border: 1px solid #ffc107;
  background: #fff;
  color: #ffc107;
}
.ui_btn_inverse:hover {
  border: 1px solid #ffc107;
  background: #ffc107;
  color: #212121;
}
.ui_input {
  height: 100%;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  line-height: 50px;
  color: #000;
}
.ui_input.tal {
  text-align: left;
  padding-left: 80px;
}
.ui_tac {
  text-align: center;
}
.ui_tal {
  text-align: left;
}
.ui-ic[data-ic] {
  position: relative;
}
.ui-ic[data-ic]:after {
  position: absolute;
  content: attr(data-ic);
  font-family: "Material Icons";
}
.material-icons {
  font-family: "Material Icons";
}
#subscribe-area {
  display: none;
}
.range-min,
.range-max {
  font-size: 17px!important;
}
.range-quantity {
  background-color: #ffc107 !important;
}
