.ui-ic[data-ic] {
  position: relative;
}
.ui-ic[data-ic]:after {
  position: absolute;
  left: 0px;
  top: 12px;
  content: attr(data-ic);
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 24px;
}
.material-icons {
  font-family: "Material Icons";
}
