@import "vars";
.ui {
  &_h1 {
    font-size: 36px;
    line-height: 96px;
    text-align: center;
    &.white {
      color: #fff;
    }
  }
  &_h2 {
    font-size: 23px;
    line-height: 50px;
    font-family: @ff-Medium;
    color: @text-color;
    &.without-lh {
      line-height: 1em;
      margin-bottom: 28px;
    }

  }
  &_p {
    font-family: @ff-Light;
    font-size: 17px;
    margin-bottom: 30px;
  }
  &_btn {
    background: @main-color;
    font-family: @ff-Medium;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: none;
    &:hover {
      border: 1px solid @main-color;
      background: #fff;
      color: @main-color;
    }


    &_inverse {
      border: 1px solid @main-color;
      background: #fff;
      color: @main-color;
      &:hover {
        border: 1px solid @main-color;
        background: @main-color;
        color: @text-color;
      }
    }
  }
  &_input {
    height: 100%;
    text-align: center;
    background: #fff;
    border-radius: 25px;
    line-height: 50px;
    color: #000;

    &.tal {
      text-align: left;
      padding-left: 80px;
    }
  }
  &_tac {
    text-align: center;
  }
  &_tal {
    text-align: left;
  }



  &-ic {
    &[data-ic] {

      position: relative;

      &:after {
        position: absolute;

        content: attr(data-ic);
        font-family: @ff-ic;

      }
    }

  }









}
.material-icons {
  font-family: @ff-ic;
}
#subscribe-area {
  display: none;
}
.range-min, .range-max {

  font-size: 17px!important;

}
.range-quantity {
  background-color: @main-color !important;
}
//
//section {
//  position: relative;
//}